[run]
source = cnxpublishing
omit =
    cnxpublishing/tests/*
    cnxpublishing/celery.py

[report]
exclude_lines =
    pragma: no cover

    if __name__ == .__main__.:
omit =
    cnxpublishing/tests/*
    cnxpublishing/_version.py
    cnxpublishing/celery.py
