# Development #
###############
__pycache__
*.pyc
*.egg-info
.tox
*.*~
.DS_Store
cnx_slim_dump.sql
/*.log
.cache
.pytest_cache

# Virtualenv #
##############
bin
lib
include

# Build file #
##############
build/
dist/
.eggs/

# Coverage #
############
.coverage
htmlcov/
