dist: trusty
sudo: required
language: python
python:
  - "2.7"
services:
  - docker

before_install:
  # Linting
  - pip install -r requirements/lint.txt
  - flake8 --exclude=cnxpublishing/tests *.py cnxpublishing/
  - flake8 --max-line-length=200 cnxpublishing/tests

  # Stop local postgres
  - sudo service postgresql stop

install:
  - docker-compose build

before_script:
  # Create cnx-db docker image
  - docker-compose up -d
  - sleep 10
  # Create and give cnxarchive superuser privileges on postgres for testing
  - docker-compose exec db psql -U postgres -d postgres -c "CREATE USER cnxarchive WITH SUPERUSER PASSWORD 'cnxarchive';"
  - docker-compose exec db createdb -U postgres -O cnxarchive cnxarchive-testing

script:
  - ci_env=`bash <(curl -s https://codecov.io/env)`
  - docker-compose run $ci_env test bin/test

notifications:
  email: false
