version: "2"
services:
  db:
    image: openstax/cnx-db:a395564
    ports:
      - "5432:5432"
    environment:
      - "DB_USER=cnxarchive"
      - "POSTGRES_DB=cnxarchive-testing"
      - "DB_URL=postgresql://cnxarchive@localhost/cnxarchive-testing"
      - "DB_SUPER_URL=postgresql://postgres@localhost/cnxarchive-testing"
