language: python
# Note, /usr/bin/python is used because we must install to the system python
# in order to make the package available to the plpython Postgres extension.
python:
  - "2.7"
addons:
  postgresql: "9.3"
before_install:
  - sudo apt-get update

  # Installation for cnx-archive:
  # * Install the 'plpython' extension language
  - sudo apt-get install postgresql-plpython-9.3
  # * Install the 'plxslt' extension language
  - sudo apt-get install libxml2-dev libxslt-dev postgresql-server-dev-9.3
  - git clone https://github.com/petere/plxslt.git
  - cd plxslt && sudo make && sudo make install && cd ..
  # * Install cnx-query-grammar
  - git clone https://github.com/Connexions/cnx-query-grammar.git
  - cd cnx-query-grammar && sudo /usr/bin/python setup.py install && cd ..
  # * Install rhaptos.cnxmlutils
  - git clone https://github.com/Connexions/rhaptos.cnxmlutils.git
  - cd rhaptos.cnxmlutils && sudo /usr/bin/python setup.py install && cd ..
  # * Install bug-fixes branch of plpydbapi
  - git clone -b bug-fixes https://github.com/Connexions/plpydbapi.git
  - cd plpydbapi && sudo /usr/bin/python setup.py install && cd ..

  # Installation for cnx-publishing
  # * Install cnx-archive
  - git clone https://github.com/Connexions/cnx-archive.git
  - cd cnx-archive && sudo /usr/bin/python setup.py install && cd ..
  # * Install cnx-epub
  - git clone https://github.com/Connexions/cnx-epub.git
  - cd cnx-epub && sudo /usr/bin/python setup.py install && cd ..

  # Install the coverage utility and coveralls reporting utility
  - sudo apt-get install python-pip
  # Install test requirements
  - sudo /usr/bin/pip install mock webtest
  # Scripts get installed to /usr/local/bin
  - sudo /usr/bin/pip install coverage
  - sudo /usr/bin/pip install coveralls
install:
  - sudo /usr/bin/pip install .
before_script:
  # Set up postgres roles
  - sudo -u postgres psql -d postgres -c "CREATE USER cnxarchive WITH SUPERUSER PASSWORD 'cnxarchive';"
  # Set up the database
  - sudo -u postgres createdb -O cnxarchive cnxarchive-testing
env:
  - TESTING_CONFIG="testing.ini"
script:
  # This is the same as `python -m unittest discover` with a coverage wrapper.
  - /usr/local/bin/coverage run --source=cnxpublishing -m unittest discover
after_success:
  # Report test coverage to coveralls.io
  - /usr/local/bin/coveralls
notifications:
  email: false
