version: '2'
services:
  app:
    build: .
    volumes:
      - .:/src
    environment:
      - DB_URL=postgresql://postgres@db/cnxarchive
      - DB_SUPER_URL=postgresql://postgres@db/cnxarchive
      - AMQP_URL=amqp://guest@rabbitmq:5672//
  db:
    image: "openstax/cnx-db"
    volumes:
      - pgdata:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:latest

   publishing:
    extends:
      service: app
    command: bash -c "pserve $${PYRAMID_INI}"
    links:
      - db
    ports:
      - "6544:6544"
  publishing-worker:
    extends:
      service: app
    command: bash -c "celery worker -A cnxpublishing -Q default,deferred --loglevel debug"
    links:
      - db
      - rabbitmq
volumes:
  pgdata:
