include *.txt *.rst
recursive-include cnxpublishing/sql *.sql
recursive-include cnxpublishing/sql/migrations *.py
recursive-include cnxpublishing/tests/data *.*
recursive-include cnxpublishing/templates *.*
