{% extends "base.html" %}
{% block content %}
  <h1>Print Styles</h1>
  <br>
  <table>
    <tr>
      <th>Style</th>
      <th>Title</th>
      <th>Books</th>
      <th>Version</th>
      <th>cnx-recipes commit</th>
      <th>Deployed</th>
    </tr>
    {% for style in styles %}
      <tr>
        <td>
            <a href={{style.link}}>{{ style.print_style }}</a>
        </td>
        <td>{{ style.title }}</td>
        <td>{{ style.number }}{%if style.bad %} ({{ style.bad }}){% endif %}</td>
        <td>{{ style.tag }}</td>
        <td>{{ style.commit_id }}</td>
        <td>
        {% if style.revised %}
          {{ style.revised.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        {% else %}
          None
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
