{% extends "base.html" %}
{% block content %}
  <h1>Print Styles</h1>
  <table>
    <tr>
      <th>Style</th>
      <th>Number of Books</th>
      <th>File Id</th>
      <th>Type</th>
      <th>Time Stamp</th>
    </tr>
    {% for style in styles %}
      <tr>
        <td>
          <a href="/a/print_style/{{style.print_style}}">{{ style.print_style }}</a>
        </td>
        <td>{{ style.number }}</td>
        <td>{{ style.file }}</td>
        <td>{{ style.type }}</td>
        <td>{{ style.revised }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
