{% extends "base.html" %}
{% block content %}
<h1>Create a site message</h1>

<form method="post" id="message_banner_form">
  Message:
  <input type="text" name="message" id="message" size="50" required><br>
  <br><br>

  Priority
  <select name="priority" id="priority" required>
    <option value="1">Danger</option>
    <option value="2">Warning</option>
    <option value="3">Success</option>
  </select>
  <br><br>

  Type
  <select name="type" id="type" required>
    <option value="1">Maintenance</option>
    <option value="2">Notice</option>
  </select>
  <br><br>

  Start date:
  <input type="date" name="start_date" id="start_date" value={{start_date}} required>
  <input type="time" name="start_time" id="start_time" value={{start_time}} required>
  <br><br>
  End Date:
  <input type="date" name="end_date" id="end_date" value={{end_date}} required>
  <input type="time" name="end_time" id="end_time" value={{end_time}} required>
  <br><br>

  <input type="submit" value="Add">
</form>
<br><br>
<div><b>{{response}}</b></div>
<br>
Existing Messages:
<table>
  <tr>
    <th>ID</th>
    <th>service_state_id</th>
    <th>Starts</th>
    <th>Ends</th>
    <th>Priority</th>
    <th>Message</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  {% for banner in banners %}
    <tr>
      <td>{{ banner.id }}</td>
      <td>{{ banner.service_state_id }}</td>
      <td>{{ banner.starts }}</td>
      <td>{{ banner.ends }}</td>
      <td>{{ banner.priority }}</td>
      <td>{{ banner.message }}</td>
      <td>
        <a href="/a/site-messages/{{ banner.id }}/">Edit</a>
      </td>
      <td>
        <button class="delete" value="{{ banner.id }}">Delete</button>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}

{% block script%}
  $( ".delete" ).click(function() {
    $.ajax({
        url: '/a/site-messages/',
        data: {'id': $( this ).val()},
        type: 'DELETE',
        success: function(response) {
          $("html").html(response);
        }
    });
  });
{% endblock %}
