interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://exercises.openstax.org/api/exercises?q=tag:"k12phys-ch04-ex001"
  response:
    body: {string: !!python/unicode '{"total_count":1,"items":[{"tags":["inbook-yes","k12phys","os-practice-concepts","k12phys-ch04","k12phys-ch04-s01","k12phys-ch04-s01-lo01","k12phys-ch04-ex001","dok:1","blooms:1","time:short","book:stax-phys","lo:stax-phys:4-2-2","exid:k12phys-ch04-ex001","context-cnxmod:144d12ac-66f8-49b3-99f3-034118d0c858","filter-type:import:hs","book:stax-k12phys","type:conceptual-or-recall","context-cnxmod:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6"],"uuid":"0e540352-e98d-49e0-bda2-38736954d97a","group_uuid":"17140a07-5142-4988-95b2-fb1a5526394a","number":2060,"version":4,"uid":"2060@4","published_at":"2016-06-08T01:06:41.509Z","authors":[{"user_id":1,"name":"openstax"}],"copyright_holders":[{"user_id":2,"name":"Rice
        University"}],"derived_from":[],"is_vocab":false,"stimulus_html":"","questions":[{"id":50257,"is_answer_order_important":true,"stimulus_html":"","stem_html":"What
        is kinematics?","answers":[{"id":209685,"content_html":"Kinematics is the
        study of motion."},{"id":209684,"content_html":"Kinematics is the study of
        the cause of motion."},{"id":209683,"content_html":"Kinematics is the study
        of dimensions."},{"id":209682,"content_html":"Kinematics is the study of atomic
        structures."}],"hints":[],"formats":["free-response","multiple-choice"],"combo_choices":[]}],"versions":[4,3,2,1]}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f93f8c938ea765e42b9153fbd48c31fa"]
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://exercises.openstax.org/api/exercises?q=nickname:"some_nickname"
  response:
    body: {string: !!python/unicode '{"total_count":1,"items":[{"tags":["inbook-yes","k12phys","os-practice-concepts","k12phys-ch04","k12phys-ch04-s01","k12phys-ch04-s01-lo02","k12phys-ch04-ex003","dok:1","blooms:1","time:short","book:stax-phys","lo:stax-phys:4-1-1","exid:k12phys-ch04-ex003","context-cnxmod:144d12ac-66f8-49b3-99f3-034118d0c858","filter-type:import:hs","book:stax-k12phys","type:conceptual-or-recall","context-cnxmod:7344986b-3079-4db2-92b9-78e0644c8610"],"uuid":"89e192d9-fd48-4185-958f-05df45b4fc06","group_uuid":"a76456ed-a7cc-4e25-9daa-e500be29ffb5","number":2062,"version":4,"uid":"2062@4","nickname":"some_nickname","published_at":"2016-06-08T01:06:42.007Z","authors":[{"user_id":1,"name":"openstax"}],"copyright_holders":[{"user_id":2,"name":"Rice
        University"}],"derived_from":[],"is_vocab":false,"stimulus_html":"","questions":[{"id":50259,"is_answer_order_important":true,"stimulus_html":"","stem_html":"What
        kind of physical quantity is force?","answers":[{"id":209692,"content_html":"Force
        is a scalar quantity."},{"id":209693,"content_html":"Force is a vector quantity."},{"id":209691,"content_html":"Force
        is both a vector quantity and a scalar quantity."},{"id":209690,"content_html":"Force
        is neither a vector nor a scalar quantity."}],"hints":[],"formats":["free-response","multiple-choice"],"combo_choices":[]}],"versions":[4,3,2,1]}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"52dfa68d857bd2edf7b7d575be7ba3b9"]
      status: [200 OK]
    status: {code: 200, message: OK}
[...]
